E1:[
    msg:"""
1航戰1輕母1輕巡3驅逐
路線IJGDP
GD是敵水上部隊
P點是水上水下混合，有輕母 空優線是146 斬殺167
建議三先制反潛以上
水聽&爆雷&投射機有最大反潛倍率
**** [[還不是最佳化的編成!!!]] ****
    """,
    provider: "小潘"
    time: 1502470646771
],
E2:[
    msg:"""
**** [[如果艦隊強度不夠  建議先別打E2E3 多等一點情報!!!]] ****

E2 與E3共用鎖船貼條
I點A勝以上可解鎖新路線LO 迴避K點(魚點)

1戰艦1輕母1正母1驅逐1潛水1重巡
解謎路線DEGI
D點是PT群，可以使用秋月砲/副砲x2配見張員(輕巡與驅逐)
I點有陸姬，戰艦可攜帶三式砲

1戰艦1輕母1正母2驅逐1輕巡(全高速)
血條路線ACFJLO
C點魚點
FL是水上混編
J點是空襲點
O點是敵方聯合部隊，空優線大概要250出門
推薦上支援增加效率
**** [[還不是最佳化的編成!!!]] ****
    """,
    provider: "小潘",
    time: 1502470646771
],
E3:[
    msg:"""
E3 與E2共用鎖船貼條
如果艦隊強度不夠  建議先別打E2E3 多等一些情報

[運輸部分]
2航巡4驅逐+1輕巡2重巡3驅逐
12大發的話一場S勝可以衝到14x
或者武裝押運(然而我不知道編成)
制空160以上可以拿互角 14x的話是空劣
司令部可以降低被勸退的挫折感(大淀可在E2王點打撈)
二對二連CI混編拚S勝，建議雙支援提高遊戲體驗(非洲支援? tan90)

[血條部分]
2航巡2戰艦1正空1驅逐+1輕巡2驅逐2雷巡1重巡
路線ACDEHM(N)Q M進王N進王MN後進王都有可能
王是敵聯合艦隊
王點是270左右能拿到空優
不過算上道中消耗，大約制空300以上出門(道中均衡)
王血490裝甲185 根據拆包資料顯示有消甲，不過目前方法未知
不急的話可以多等一些情報在打

**** [[還不是最佳化的編成!!!]] ****
    """,
    provider: "小潘",
    time: 1502474072879
  ,
    msg:"""
[運輸部分]
2017夏活E3武装押运【水打避开J点直接进BOSS】
组合要求：
全队高速
1队.BB系+CV系≤2，1队DD＝1，剩余三个位置补两航巡+1自由位
2队.雷巡可两艘，轻巡1艘，驱逐2艘，剩余一个位置随意
能动分歧：选择F点即可
优点：战斗力强，缺点：比起运输部队运的较少
    """,
    provider: "昏君",
    time: 1502603858603
],
E4:[
    msg:"""
E4
2戰艦2輕空母2重巡/航巡
1輕巡3驅逐2重巡
使用水上打擊部隊
P2血高甲厚，需要一定程度的CI來擊破

陸航1戰3攻洗王點
P1要航程3 P2要航程6

P1部分路線DABCGHI
制空削血326斬殺492
(算上陸航稍微削弱 大約480即可拿到空優)
D是魚點 A辣雞水雷
B有兩個118 C是嚕爺麻將桌

P2部分路線DGHJKMN
310制空出門可在王點拿到空優(斬殺也是
J點是pt群 M點有黑莉莉混搭PT

請小心鎖船，注意自身艦隊狀況
不要急著就把船丟下去
    """,
    provider: "小潘",
    time: 1502630760182
]
