E1:[
    msg:"""
1航戰1輕母1輕巡3驅逐
路線IJGDP
GD是敵水上部隊
P點是水上水下混合，有輕母 空優線是146 斬殺167
建議三先制反潛以上
水聽&爆雷&投射機有最大反潛倍率
**** [[還不是最佳化的編成!!!]] ****
    """,
    provider: "小潘"
    time: 1502470646771
],
E2:[
    msg:"""
**** [[如果艦隊強度不夠  建議先別打E2E3 多等一點情報!!!]] ****

E2 與E3共用鎖船貼條
I點A勝以上可解鎖新路線LO 迴避K點(魚點)

1戰艦1輕母1正母1驅逐1潛水1重巡
解謎路線DEGI
D點是PT群，可以使用秋月砲/副砲x2配見張員(輕巡與驅逐)
I點有陸姬，戰艦可攜帶三式砲

1戰艦1輕母1正母2驅逐1輕巡(全高速)
血條路線ACFJLO
C點魚點
FL是水上混編
J點是空襲點
O點是敵方聯合部隊，空優線大概要250出門
推薦上支援增加效率
**** [[還不是最佳化的編成!!!]] ****
    """,
    provider: "小潘",
    time: 1502470646771
]
